body {
  background: rgb(204, 255, 196);
  font-family: "Pacifico", cursive;
}
.hero {
  text-align: center;
}
h1 {
  font-size: 50px;
  text-align: center;
}
.button {
  background-color: rgba(64, 163, 110, 0.807);
  border: 1px solid rgb(47, 224, 74);
  border-radius: 20px;
}
.button:hover {
  background-color: rgb(53, 176, 63);
}
.greeting {
  font-size: 25px;
}
