:root {
  --branding-color: rgb(167, 237, 242);
  --secondary-button-color: rgb(129, 230, 208);
  --primary-button-color: rgb(12, 97, 167);
  --default-font-family: "Oxanium", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Oxanium&family=Pacifico&display=swap");
body {
  background: rgb(228, 249, 250);
}
.hero {
  text-align: center;
  background: rgb(167, 237, 242);
  color: rgb(7, 72, 84);
  font-family: "Oxanium", cursive;
  padding: 100px 20px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.button {
  background-color: var(--secondary-button-color);
  border: 1px solid rgb(47, 224, 74);
  color: var(--primary-button-color);
  border-radius: 20px;
}
.button:hover {
  background-color: rgb(53, 176, 63);
}
.greeting {
  font-size: 25px;
}
.btn-branding {
  background-color: var(--secondary-button-color);
  color: rgb(12, 97, 167);
  border-radius: 10px;
  margin: 30px 10px;
  line-height: 28px;
  font-size: 18px;
  padding: 12px 20px;
}
.project-description {
  padding: 120px 60px;
  font-family: "Times New Roman", Times, serif;
}
.branding-button-outline {
  color: var(--primary-button-color);
  border-radius: 10px;
  margin: 30px 10px;
  line-height: 28px;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid;
  text-decoration: none;
  font-family: "Oxanium", cursive;
}

.matcha-project {
  max-width: 90%;
}
.weather-project {
  max-width: 90%;
}
.button-links {
  text-align: center;
}
a,
.navbar-brand {
  font-family: "Oxanium", cursive;
}
.matcha,
.weather-app {
  font-size: 60px;
}
@media (max-width: 760px) {
  .project-description {
    padding: 0;
    text-align: center;
    font-size: 18px;
  }
  .matcha,
  .weather-app {
    font-size: 40px;
  }
  .my-photo {
    padding: 0;
    text-align: center;
  }
}
.content {
  margin: 3px;
  padding: 120px 20px;
  color: rgb(7, 72, 84);
  font-family: "Oxanium", cursive;
  text-align: center;
}
.content {
  text-align: center;
  padding: 0;
  font-family: var(--default-font-family);
}
.content h1 {
  font-size: 60px;
  margin: 20px 0;
}
.my-photo {
  max-width: 70%;
  border-radius: 10px;
}
.conten-container {
  text-align: center;
}
